body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    height: 500px;
    width: 350px;
    border: 2px solid red;
    display: grid;
    place-items: center;
}
